<link href="//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//netdna.bootstrapcdn.com/bootstrap/3.0.0/js/bootstrap.min.js"></script>
<script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
<link rel="stylesheet" href="../public/css/bootstrap-css.css">
<!------ Include the above in your HEAD tag ---------->

<div class="container">
    <div class="row">
        <div class="col-xs-12 col-md-3">
            <div class="panel panel-primary">
                <div class="panel-heading">
                    <h3 class="panel-title">
                        Bronce</h3>
                </div>
                <div class="panel-body">
                    <div class="the-price">
                        <h1>
                            Free<span class="subscript"></span></h1>
                        <small> </small>
                    </div>
                    <table class="table">
                        
                        <tr class="active">
                            <td>
                                10 proyectos
                            </td>
                        </tr>
                        <tr class="active">
                            <td>
                                20GB Almacenamiento
                            </td>
                        </tr>
                        <tr>
                            <td>
                                Servicio en la nube
                            </td>
                        </tr>
                        </tr>
                    </table>
                </div>
                <div class="panel-footer">
                    <a href="/inicio" class="btn btn-success" role="button">Plan Actual</a>
                    </div>
                    
            </div>
        </div>
        <div class="col-xs-12 col-md-3">
            <div class="panel panel-success">
                <div class="cnrflash">
                    <div class="cnrflash-inner">
                        <span class="cnrflash-label">Mas
                            <br>
                            Popular</span>
                    </div>
                </div>
                <div class="panel-heading">
                    <h3 class="panel-title">
                        Silver</h3>
                </div>
                <div class="panel-body">
                    <div class="the-price">
                        <h1>
                            $1.5<span class="subscript">/mes</span></h1>
                        <small> </small>
                    </div>
                    <table class="table">
                        <tr class="active">
                            <td>
                                25 Proyectos
                            </td>
                        </tr>
                        <tr class="active">
                            <td>
                                100GB Almacenamiento
                            </td>
                        </tr>
                        <tr>
                            <td>
                                Servicio en la nube
                            </td>
                        </tr>
                    </table>
                </div>
                <div class="panel-footer">
                    <a href="http://www.jquery2dotnet.com" class="btn btn-success" role="button">Registrar</a>
                    </div>
            </div>
        </div>
        <div class="col-xs-12 col-md-3">
            <div class="panel panel-info">
                <div class="panel-heading">
                    <h3 class="panel-title">
                        Gold</h3>
                </div>
                <div class="panel-body">
                    <div class="the-price">
                        <h1>
                            $5<span class="subscript">/mes</span></h1>
                        <small> </small>
                    </div>
                    <table class="table">
                        
                        <tr class="active">
                            <td>
                                sin limites
                            </td>
                        </tr>
                        <tr class="active">
                            <td>
                                1T almacenamiento
                            </td>
                        </tr>
                       
                        </tr>
                    </table>
                </div>
                <div class="panel-footer">
                    <a href="http://www.jquery2dotnet.com" class="btn btn-success" role="button">Registrar</a> </div>
            </div>
        </div>
    </div>
</div>
