<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">

    <link rel="shortcut icon" href="public/img/favicon.png" type="image/png"/>
    <link rel="stylesheet" href="public/css/estilos1.css">

    <title>Registrate</title>
</head>
<body>
<body>
    <form class="login">
        <h1 class="login-title">Registrate!</h1>
        <input type="text" class="login-input" placeholder="Nombre" autofocus required>
        <input type="text" class="login-input" placeholder="Nombre de Usuario" required>
        <input type="text" class="login-input" placeholder="Correo" required>
        <input type="password" class="login-input" placeholder="Contraseña"  required>
        <input type="password" class="login-input" placeholder="Repita la Contraseña" required>
        <input name="cecky" id="checky" value="1" type="checkbox" required/><label class="terms">Acepto los terminos</label>
        <p></p>
        <input type="submit" value="Registrate" class="login-button">
        <p> </p>
        <input type="submit" value="Cancelar" class="login-button"> 
      </form>
    
    </div>
</body>
</html>
