<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Go Bus</title>
    <link rel="shortcut icon" href="../public/img/icon_bus.ico" type="image/x-icon">
	<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.3.1/css/all.css" integrity="sha384-mzrmE5qonljUremFsqc01SB46JvROS7bZs3IO2EmfFsd15uHvIt+Y8vEf7N7fWAU"
     crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">
    <link href="../public/css/bootstrap.min.css" rel="stylesheet">
    <link href="../public/css/estilos.css" rel="stylesheet">
  </head>

<body class="fondoLogin">
    <nav class="navbar navbar-expand-md navbar-dark bg-dark1 fixed-top">
        <div class="col-xl-1 col-lg-1 col-xs-8 col-sm-8">
        </div>
        <div class="col-xl-2 col-lg-2 col-xs-8 col-sm-8">
            <a href="" style="color:red; text-decoration:none;"><h1>GO<i class="fas fa-bus"></i>BUS</h1></a>
        </div>
        </nav>
    <div class="container-fluid">
        <div class="row">
            <div id="centrado">
                <div class="jumbotron">
                    <div>
                        <h3>Registrarse en Go <i class="fas fa-bus"></i> Bus</h3><br>
                    </div>
                    <div class="form-group">
                        <div class="form-group">
                           <input class="form-control" placeholder="Nombre" name="regnom" id="regnom" type="text" required>
                        </div>
                        <div class="form-group">
                            <input class="form-control" placeholder="Apellidos" name="regapell" id="regapell" type="text" required>
                        </div>
                        <div class="form-group">
                            <input class="form-control" placeholder="correo" name="regemail" id="regemail" type="email" required>
                            <span id="emailOK"></span>
                        </div>
                        <div class="form-group">
                            <input class="form-control" placeholder="contraseña" name="regpassword" id="regpassword" type="password" required>
                        </div>
                        <div class="form-group">
                            <input class="form-control" placeholder="confirmar contraseña" name="confpassword" id="confpassword" type="password" required>
                        </div>
                        <span id="mostrar" style="color:red; font-size: 14px; display: none">Las contraseñas no coinciden</span>
                        <div class="form-group">
                            <input class="form-control" placeholder="Telefono" name="regtelefono" id="regtelefono" type="text" required>
                        </div>
                        <div class="form-group">
                            <select name="slgen" id="slgen" class="form-control" >
                                <option>Genero</option>
                                <option value="1">Masculino</option>
                                <option value="2">Femenino</option>
                            </select>
                        </div>
                        <div class="form-group" style="text-align:right">
                            <input id="btn-registrar" type="button" class="btn btn-success" value="Registrarse">
                        </div>
                </div>
            </div>
        </div> 
    </div>
    <main>
        <footer class="container">
            <p class="float-right"><a class="carrruseltext" href="#">Back to top</a></p>
            <p>&copy; 2017-2018 GoBus. &middot; <a class="carrruseltext" href="#">Privacy</a> &middot; <a class="carrruseltext" href="#">Terms</a></p>
        </footer>
    </main>
    <script src="../public/js/jquery.min.js"></script>
    <script src="../public/js/controlador.js">
    </script>
  </body>
</html>
