.cols {
  display: flex;
}

.cols div {
  flex: 1;
}

.col1 {
  background-color: orange;
}

.col2 {
  background-color: skyblue;
}

p {
  margin: 1px;
}

div#header_right {
  background-image: url("../img/codigo-s.png");
  background-repeat: no-repeat;
  }