div#body{
     margin: auto;
     margin-top: 80px;
     width: 900px;
     height: 300px;
     border: 1px solid black;
}

div#html1{
    width: 450px;
    height: 300px;
    background-color: aquamarine;
    float: left;
}

div#css1{
    width: 450px;
    height:300px;
    background-color: blue;
    float: left;
 }

 div#resulta{
    width: 450px;
    height:300px;
    background-color: rgb(255, 0, 98);
 }